<form class="form add-form" [formGroup]="addForm" (submit)="save()">
    <fieldset class="form-group">
        <label class="label">
            <span class="label-text">Title</span>
            <input class="input" type="text" formControlName="title" required />
        </label>
        <span *ngIf="addForm.controls.title.invalid && (addForm.controls.title.dirty || addForm.controls.title.touched)" class="error-message">
                <span *ngIf="addForm.controls.title.errors.required">
                    Title is required
                </span>
                <span *ngIf="addForm.controls.title.errors.maxlength">
                    Title must be less than 50 characters long
                </span>
            </span>
        <label class="label">
            <span class="label-text">Description</span>
            <textarea class="input textarea" formControlName="description" required></textarea>
        </label>
        <span *ngIf="addForm.controls.description.invalid && (addForm.controls.description.dirty || addForm.controls.description.touched)" class="error-message">
                <span *ngIf="addForm.controls.description.errors.required">
                    Description is required
                </span>
                <span *ngIf="addForm.controls.description.errors.maxlength">
                    Title must be less than 500 characters long
                </span>
            </span>
        <date formControlName="date"></date>
        <span *ngIf="addForm.controls.date.invalid && (addForm.controls.date.dirty || addForm.controls.date.touched)" class="error-message">
            Date format is dd.mm.yyyy
        </span>
        <duration formControlName="duration"></duration>
        <span *ngIf="addForm.controls.duration.invalid && (addForm.controls.duration.dirty || addForm.controls.duration.touched)" class="error-message">
            Duration is required
        </span>
        <authors formControlName="authors" [data]="authorsList"></authors>
        <span *ngIf="addForm.controls.authors.invalid && (addForm.controls.authors.dirty || addForm.controls.authors.touched)" class="error-message">
            Minimum one author should be selected
        </span>
    </fieldset>
    <div class="form-group">
        <button class="button" [disabled]="!addForm.valid">Save</button>
        <button class="button" (click)="cancel()">Cancel</button>
    </div>
</form>
