<div class="item-content">
    <div class="content-header">
        <h2 class="item-heading">
            {{course.title | uppercase}}
            <i *ngIf="course.topRated" class="icon fa fa-star"></i>
        </h2>
        <span class="item-duration">{{course.duration | durationInMin}}</span>
        <span class="item-date">{{course.date | date: "dd.MM.yy"}}</span>
    </div>
    <div class="content-description">
        <p class="description-text">{{course.description}}</p>
    </div>
</div>
<div class="item-controls">
    <button class="button course-edit">Edit course</button>
    <button class="button course-delete" on-click="deleteCourse(course)">Delete course</button>
</div>