<app-search (find)="find($event)" (add)="add($event)"></app-search>
<div class="courses">
    <div class="courses-empty" *ngIf="isEmptyCoursesList()">
        <p class="p">No data. Feel free to add new course</p>
    </div>
    <div class="courses-item"
         [ngClass]="{'top-rated': course.topRated}"
         [paintBorder]="course.date"
         *ngFor="let course of courses | orderBy: 'date'">
        <app-course class="app-course" (remove)="remove($event)" [course]="course"></app-course>
    </div>
    <button class="button load-more" on-click="loadMore()" *ngIf="!isEmptyCoursesList()">Show more courses</button>
</div>
