.content {
    flex: 1;
}

.courses-empty {
    border: 1px solid #9f9f9f;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    background: #dd03308f;
}

.top-rated {
    background: #ffff001f;
}
