login-page {
    flex: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    max-width: 50%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    padding: 0 0 15px;
}

.label-text {
    flex: 1;
}

.login-form .input {
    flex: 3;
}

.login-form .button {
    width: 50%;
    align-self: flex-end;
}

