<form class="form login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <fieldset class="form-group">
        <label class="label">
            <span class="label-text">Login*</span>
            <input class="input" formControlName="name" type="text" name="username" required />
        </label>
        <label class="label">
            <span class="label-text">Password*</span>
            <input class="input" formControlName="password" type="password" name="password" required />
        </label>
    </fieldset>
    <button type="submit" class="button" [disabled]="!loginForm.valid">Enter</button>
</form>
