<div class="item-content">
    <div class="content-header">
        <h2 class="item-heading">{{card.title}}</h2>
        <span class="item-duration">{{card.duration}}min</span>
        <span class="item-date">{{card.creatingDate| date: "MM.dd.yy"}}</span>
    </div>
    <div class="content-description">
        <p class="description-text">{{card.description}}</p>
    </div>
</div>
<div class="item-controls">
    <button class="button card-edit">Edit course</button>
    <button class="button card-delete" (click)="delete(card.id)">Delete course</button>
</div>